*{
   margin:0;
   padding:0;
}
body{
    background:#0f173a;
}
header{
    background-color: rgba(49, 3, 22, 0.733);
    border-bottom: 1px solid rgb(165, 199, 13);
    padding: 50px 20px;
    backdrop-filter:blur(5px);
    
    display:flex;
    justify-content:space-between;
    align-items:center;
}

       
 
nav a{
    color: rgb(191, 205, 216);
    margin-left:30px;
    text-decoration:wavy;

}

nav a:hover{
    color:rgb(24, 158, 158);
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: initial;
    /* background-color: rgb(175, 138, 125); */
    color: rgb(183, 185, 45);
}

/* header------ */
.top{
    text-align: center;
    text-shadow: 5cqw;
    
    background-color:rgb(18, 18, 53);
    background-size: 10cqi;
    /* width:100px; */

}
.top h{
    color:rgb(186, 219, 107);
    font-weight: 700;
    font-size:3rem;
    font-display: fallback;
}
.top p{
      font-size:1.1rem;
      color:#94a3b8;
      max-width:800px;
      margin:0 auto;
}

.container{
      width:90%;
      max-width:1200px;
      margin:0 auto 80px;
      background:#577ebe;
}
.search-box{
      display:flex;
      justify-content:center;
      margin:40px 0;
}

.search-box input{
      width:60%;
      max-width:500px;
      padding:14px 18px;
      border-radius:30px;
      border:none;
      outline:none;
      background:#020617;
      color:#fff;
      box-shadow:0 0 0 1px #1e293b;
}
.image-container{
    width:100%;
    height:100vh;
    overflow:hidden;
    background:rgb(26, 26, 165);
    
}
.image-container img{
    width:100%;
    height: 100%;
    object-fit: cover;


}
/* footer------------- */
footer{
    background-color:rgb(54, 20, 82);
    text-align: center;

}
footer h3{
    font-size:x-large;
    color:rgb(17, 98, 197);
}
footer p{
    font-size:2em;
    color:aqua;
}
